NOTION_API_KEY=secret_your_notion_integration_token
# Alternative name also supported:
# NOTION_TOKEN=secret_your_notion_integration_token

# The Notion page ID where databases will be created
NOTION_PARENT_PAGE_ID=your_notion_page_id
